:root {
  --color-neutral: 255, 255, 255;

  --color-neutral-50: 209, 213, 218;
  --color-neutral-100: 195, 200, 207;
  --color-neutral-200: 31, 71, 50;
  --color-neutral-300: 138, 147, 162;
  --color-neutral-400: 111, 121, 138;
  --color-neutral-500: 88, 97, 110;
  --color-neutral-600: 65, 72, 82;
  --color-neutral-700: 43, 47, 53;
  --color-neutral-800: 20, 22, 25;
  --color-neutral-900: 13, 15, 16;

  --color-primary-50:  225, 236, 229;   /* soft light green tint */
  --color-primary-100: 170, 202, 176;   /* pale sage highlight */
  --color-primary-200: 44, 88, 66;      /* main suit green */
  --color-primary-300: 38, 76, 57;      /* rich forest tone */
  --color-primary-400: 32, 65, 49;      /* deep pine */
  --color-primary-500: 26, 54, 41;      /* dark evergreen */
  --color-primary-600: 21, 44, 33;      /* deep shadow */
  --color-primary-700: 17, 36, 27;      /* darker fold tone */
  --color-primary-800: 13, 28, 21;      /* very dark green-black */
  --color-primary-900: 9, 21, 16;       /* near-black forest */
  

  --color-secondary-50: 209, 225, 246;
  --color-secondary-100: 192, 214, 242;
  --color-secondary-200: 158, 192, 235;
  --color-secondary-300: 124, 169, 228;
  --color-secondary-400: 90, 147, 221;
  --color-secondary-500: 56, 125, 214;
  --color-secondary-600: 39, 105, 191;
  --color-secondary-700: 29, 79, 144;
  --color-secondary-800: 20, 54, 98;
  --color-secondary-900: 10, 28, 51;
}